<label>Post Id :</label> <input type="number" [formControl]="postIdFormControl" />
<app-post [post]="post$ | async"></app-post>
<app-user [user]="user$ | async"></app-user>
<p *ngIf="isLoading$ | async">Chargement...</p>
<div *ngIf="error$ | async as error">
  <strong>{{ error }}</strong><br/>
  <button (click)="onRetry()">Réessayer...</button>
</div>
