<h1>RxJS</h1>
<h2>Opérations de base</h2>
<div fxLayout="row" fxLayoutGap="0.5rem">
  <button (click)="basicSansSubscribe()">Observable sans subscribe</button>
  <button (click)="basicAvecSubscribe()">Observable avec subscribe</button>
  <button (click)="basicPromise()">Promise</button>
  <button (click)="basicAvecSubscribeEtResultat()">Observable avec subscribe et log du resultat</button>
  <button (click)="basicAvecSubscribeEtError()">Observable avec subscribe et error</button>
  <button (click)="basicAvecSubscribeEtResultatPlusieursNext()">Observable avec subscribe, log du resultat et plusieurs next</button>
  <button (click)="basicAvecSubscribeEtResultatPlusieursNextUnsuscribe()">Observable avec subscribe, log du resultat, plusieurs next et unsubscribe</button>
</div>

<h2>Transformations d'Observables</h2>
<div fxLayout="row" fxLayoutGap="0.5rem">
  <button (click)="basicEnchainementDeRequetes()">Récupération de la tâche et de l'utilisateur et des commentaires</button>
  <button (click)="basicCountComments()">Transformation d'une liste de commentaires en total</button>
  <button (click)="basicFilter()">Transformation en filtrant des valeurs</button>
  <button (click)="basicFilterComments()">Transformation en filtrant des commentaires</button>
  <button (click)="basicEnchainementDeRequetesFail()">Tentative d'enchaînement de requêtes</button>
  <button (click)="basicMergeMap()">Récupération du User à partir du Post</button>
  <button (click)="mergeMapForkJoin()">Récupération du Post/User/Commentaires</button>
  <button (click)="mergeMapForkJoinOf()">Récupération du Post/User/Commentaires v2</button>
</div>
<p><a href="https://rxmarbles.com/">Votre nouveau meilleur ami</a></p>

<h2>Les Subjects, ou comment faire du multicast</h2>
<div fxLayout="row" fxLayoutGap="0.5rem">
  <button (click)="basicSubject()">Subject</button>
  <button (click)="basicReplaySubject()">ReplaySubject</button>
  <button (click)="basicBehaviorSubject()">BehaviorSubject ou comment rendre une variable Observable</button>
</div>

<h2>Mise en pratique sur des components</h2>
<div fxLayout="row" fxLayoutGap="0.5rem">
  <button (click)="componentToShow = null">Aucun composant</button>
  <button (click)="componentToShow = 'c1'">Premier composant</button>
  <button (click)="componentToShow = 'c2'">Second composant</button>
  <button (click)="componentToShow = 'c3'">Troisième composant</button>
  <button (click)="componentToShow = 'c4'">Quatrième composant</button>
  <button (click)="componentToShow = 'c5'">Cinquième composant</button>
</div>
<app-post-container *ngIf="componentToShow === 'c1'"></app-post-container>
<app-post-container2 *ngIf="componentToShow === 'c2'"></app-post-container2>
<app-post-container3 *ngIf="componentToShow === 'c3'"></app-post-container3>
<app-post-loading-error-container *ngIf="componentToShow === 'c4'"></app-post-loading-error-container>
<app-post-loading-error-container2 *ngIf="componentToShow === 'c5'"></app-post-loading-error-container2>

<h2>Multicast avancé</h2>
<div fxLayout="row" fxLayoutGap="0.5rem">
  <button (click)="advancedMulticastComponentToShow = null">Aucun composant</button>
  <button (click)="advancedMulticastComponentToShow = 'c1'">Basic</button>
  <button (click)="advancedMulticastComponentToShow = 'c2'">ShareReplay</button>
  <button (click)="advancedMulticastComponentToShow = 'c3'">PublishReplay</button>
  <button (click)="advancedMulticastComponentToShow = 'c4'">PublishReplay RefCount</button>
  <button (click)="advancedMulticastComponentToShow = 'c5'">ShareReplay refCount</button>
</div>

<ng-template [ngIf]="advancedMulticastComponentToShow === 'c1'">
  <app-post-with-user-container></app-post-with-user-container>
  <app-post-with-user-container></app-post-with-user-container>
</ng-template>

<ng-template [ngIf]="advancedMulticastComponentToShow === 'c2'">
  <app-post-with-user-container2></app-post-with-user-container2>
  <app-post-with-user-container2></app-post-with-user-container2>
</ng-template>

<ng-template [ngIf]="advancedMulticastComponentToShow === 'c3'">
  <app-post-with-user-container3></app-post-with-user-container3>
  <app-post-with-user-container3></app-post-with-user-container3>
</ng-template>

<ng-template [ngIf]="advancedMulticastComponentToShow === 'c4'">
  <app-post-with-user-container4></app-post-with-user-container4>
  <app-post-with-user-container4></app-post-with-user-container4>
</ng-template>

<ng-template [ngIf]="advancedMulticastComponentToShow === 'c5'">
  <app-post-with-user-container5></app-post-with-user-container5>
  <app-post-with-user-container5></app-post-with-user-container5>
</ng-template>

<h2>Patterns et exemples</h2>

<ul>
  <li><a href="https://bitbucket.org/devidteam/spacees_angular/src/e8a596631bc626066d0b900002c6961d37c11762/src/app/site/sites.facade.ts#lines-221" target="_blank">Récupération du contenu d'un Observable lorsqu'on a un besoin ponctuel et qu'il risque d'émettre d'autres valeurs</a></li>
  <li><a href="https://bitbucket.org/devidteam/spacees_angular/src/master/src/app/site/state/sites/sites.store.ts" target="_blank">Exemple d'Entity Store Akita</a> - <a href="https://bitbucket.org/devidteam/spacees_angular/src/master/src/app/site/state/sites/sites.query.ts" target="_blank">Query</a> - <a href="https://bitbucket.org/devidteam/spacees_angular/src/e8a596631bc626066d0b900002c6961d37c11762/src/app/site/sites.facade.ts#lines-180:183" target="_blank">Les stats correspondent à des "détails" et seront toujours à jour ou null</a></li>
  <li><a href="https://bitbucket.org/devidteam/spacees_angular/src/e8a596631bc626066d0b900002c6961d37c11762/src/app/site/sites.facade.ts#lines-317:322" target="_blank">Mise à jour partielle d'une Entity</a> - <a href="https://bitbucket.org/devidteam/red_light_backend/src/f77c97946d3fa75ab7b724e1e71cb38e8fa9a5d6/red-light-ui/src/app/core/core.facade.ts#lines-445">Mise à jour complète d'une Entity</a></li>
  <li><a href="https://bitbucket.org/devidteam/spacees_angular/src/e8a596631bc626066d0b900002c6961d37c11762/src/app/site/sites.facade.ts#lines-37:41" target="_blank">Utilisation du router pour récupérer l'Entity active</a></li>
  <li><a href="https://bitbucket.org/devidteam/red_light_backend/src/f77c97946d3fa75ab7b724e1e71cb38e8fa9a5d6/red-light-ui/src/app/core/containers/main-layout/main-layout.component.ts#lines-58:72" target="_blank">Chargement de données initiales et affichage d'un bouton pour réessayer en cas d'échec</a></li>
  <li><a href="https://bitbucket.org/devidteam/spacees_angular/src/master/src/app/shared/operators/debounceLoadingPublishReplay.ts" target="_blank">Opérateur custom pour retarder l'apparition du loader</a> - <a href="https://bitbucket.org/devidteam/spacees_angular/src/e8a596631bc626066d0b900002c6961d37c11762/src/app/site/sites.facade.ts#lines-48" target="_blank">Exemple d'utilisation</a></li>
  <li><a href="https://bitbucket.org/devidteam/spacees_angular/src/e8a596631bc626066d0b900002c6961d37c11762/src/app/site/sites.facade.ts#lines-169:215" target="_blank">Faire un chargement de données uniquement si les données changent et qu'il y a au moins un Observer (combinaison du lastStatsParams + share())</a></li>
  <li><a href="https://bitbucket.org/devidteam/red_light_backend/src/f77c97946d3fa75ab7b724e1e71cb38e8fa9a5d6/red-light-ui/src/app/map/containers/map/map.component.ts#lines-406:449" target="_blank">Optimistic UI avec création dans une modale</a> - <a href="https://bitbucket.org/devidteam/red_light_backend/src/f77c97946d3fa75ab7b724e1e71cb38e8fa9a5d6/red-light-ui/src/app/core/core.facade.ts#lines-568:591" target="_blank">Partie Facade</a></li>
</ul>
